[Unit]
Description=MLE Tutor API
After=network.target

[Service]
Type=simple
User=jason
Environment="TERM=screen-256color"
Environment=PYTHONUNBUFFERED=1
Environment=PYTHONIOENCODING=UTF-8
WorkingDirectory=/opt/mle-tutor
ExecStart=/opt/mle-tutor/venv/bin/python /opt/mle-tutor/api/main.py
ExecStartPost=/bin/bash -c '/usr/bin/tmux new-session -d -s mle-tutor "journalctl -f -u mle-tutor.service" || true'
ExecStopPost=/bin/bash -c '/usr/bin/tmux kill-session -t mle-tutor || true'
Restart=on-failure
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target